
ScriptJob/bin/Debug/Microsoft.SqlServer.ConnectionInfo.dll
ScriptJob/bin/Debug/Microsoft.SqlServer.ConnectionInfoExtended.dll
ScriptJob/bin/Debug/Microsoft.SqlServer.Management.Sdk.Sfc.dll
ScriptJob/bin/Debug/Microsoft.SqlServer.Smo.dll
ScriptJob/bin/Debug/Microsoft.SqlServer.SmoExtended.dll
ScriptJob/bin/Debug/Microsoft.SqlServer.SqlClrProvider.dll
ScriptJob/bin/Debug/Microsoft.SqlServer.SqlEnum.dll
ScriptJob/bin/Debug/ScriptJob.exe
ScriptJob/bin/Debug/ScriptJob.exe.config
ScriptJob/bin/Debug/ScriptJob.pdb
ScriptJob/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ScriptJob/obj/Debug/ScriptJob.csproj.AssemblyReference.cache
ScriptJob/obj/Debug/ScriptJob.csproj.CopyComplete
ScriptJob/obj/Debug/ScriptJob.csproj.CoreCompileInputs.cache
ScriptJob/obj/Debug/ScriptJob.csproj.FileListAbsolute.txt
ScriptJob/obj/Debug/ScriptJob.exe
ScriptJob/obj/Debug/ScriptJob.pdb
.vs/ScriptJob/v16/.suo
*.suo
